body {
    background-image: url(../images/mapBackground.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #ffffff;
    text-align: center;
    font-family: 'Times New Roman', Times, serif
}

.wrapper {
    height: 500px;
    margin: 0 auto;
    padding: 10px 50px 50px 50px;
}

h1 {
    font-size: 8em;
    padding-top: .5em;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif
}

#startBtn {
    margin-top: .75em; 
    font-size: 5em;
}

p {
    font-size: 3em;
}

#progress {
    font-size: 1em;
}

.btn {
    font-size: 2em;
}

img {
    width: 75%;
    height: 75%;
}

#countdownTimer {
    padding-top: 1em;
}

